@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.aboutMe {
  background-color: #607d8b;
  height: 100%;
  .title {
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
  }
  .card {
    background-color: #cfd8dc;
    color: black;
  }
}
